.DS_Store
.ipynb_checkpoints/
__pycache__/

readonly/
other_versions/
data/
datasets/
model_data/
images/
weights/
pretrained-model/
*.h5
*.mp4
starter/
models/

XY_dev/
XY_train/
raw_data/
audio_examples/
*.wav